{% extends "layouts/baseVOICES.html" %}

{% block title %} Creación de un nuevo concurso {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>

    {% include 'includes/preloader.html' %}

    <!-- Hero -->
    <div class="section-header pb-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-3 mb-4">Participa en el concurso</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Hero -->
    <form method="POST" action="" action="#" enctype=multipart/form-data>

        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {% for field, errors in form.errors.items() %}
        <small class="form-text text-muted ">
            {{ ', '.join(errors) }}
        </small>
        {% endfor %}
        <!-- Section -->
        <div class="section section-md pt-4">
            <div class="container">
                <div class="row mb-4 mb-lg-5">
                    <div class="col">
                        <div class="mb-4">
                            <label for="name">Nombre(s)</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><span class="fas fa-user"></span></span>
                                {{ form.name(class="form-control") }}
                            </div>  </div>
                        <div class="mb-4">
                            <label for="lastname">Apellido(s)</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><span class="fas fa-user"></span></span>
                                {{ form.lastname(class="form-control") }}
                            </div>  
                        </div>
                        <div class="form-group mb-4">
                            <label for="email">Email</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><span class="fas fa-mail-bulk"></span></span>
                                {{ form.email(class="form-control") }}
                            </div>  
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Profile Image</label>
                            <div class="input-group">
                                {{ form.profile(class="form-control-file") }}                              
                            </div>  
                            
                        </div>
                        <div class="mb-4">
                            <label for="email">Observaciones</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><span class="fas fa-notes-medical"></span></span>
                                {{ form.observaciones(class="form-control") }}
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="row mb-5 mb-lg-5">
                    <div class="col">
                    </div>
                    <div class="col">
                        <button type="submit" name="addConc" class="btn btn-primary">Participar</button>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                        <button type="submit" name="addConc" class="btn btn-primary">Ver voces participantes</button>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>

    </form>




</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}