 {% extends "layouts/baseCRUDConc.html" %}

{% block title %} Creación de un nuevo concurso {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>

    {% include 'includes/preloader.html' %}

    <!-- Hero -->
    <div class="section-header pb-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-3 mb-4">Concurso:  {{concursoActual.nombre}} </h1>
                </div>
            </div>
        </div>
    </div>
     <!-- End of Hero -->
     <form method="POST" action="" action="#" enctype=multipart/form-data>
        <!-- Section -->
        <div class="section section-md pt-4">
            <div class="container">
                <div class="row mb-4 mb-lg-5">
                    <div class="col-lg-4 col-sm-6">
                        <div class="mb-4">
                            {{ form.name.label() }}
                            {{ form.name(class="form-control", value = concursoActual.nombre) }}
                        </div>
                        <div class="mb-4">
                            {{ form.fecha_inicio.label() }}
                            <div class="form-group">
                                <div class="input-group input-group-border">
                                    <span class="input-group-text" id="basic-addonDate2"><span
                                            class="fas far fa-calendar-alt"></span></span>
                                    {{ form.fecha_inicio(class='form-control',placeholder='YYYY/MM/DD' , value = concursoActual.fecha_inicio)}}
                                    </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            {{ form.fecha_fin.label() }}
                            <div class="form-group">
                                <div class="input-group input-group-border">
                                    <span class="input-group-text" id="basic-addonDate2"><span
                                            class="fas far fa-calendar-alt"></span></span>
                                    {{ form.fecha_fin(class='form-control',placeholder='YYYY/MM/DD', value = concursoActual.fecha_fin) }}
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="form-group mb-4">
                            <label for="email">URL Deseada</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><span class="fas fa-mail-bulk"></span></span>
                                {{ form.url_concurso(class="form-control", value = concursoActual.url_concurso) }}
                            </div>  
                        </div>
                        <div class="mb-4">
                            <label for="pago">Pago al ganador</label>
                            {{ form.valor_pago(class="form-control", value = concursoActual.valor_pago) }}
                        </div>
                        <div class="mb-4">
                            <label for="voz">Sube una imagen para tu concurso</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><span class="fas fa-file-archive"></span></span>
                                {{ form.url_imagen(class="form-control" , value = concursoActual.url_imagen) }}                              
                            </div>  
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="mb-4">
                            <label for="email">Guión</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><span class="fas fa-notes-medical"></span></span>
                                {{ form.guion_voz(class="form-control", value = concursoActual.guion_voz) }}
                            </div>  
                        </div>
                        <div class="mb-4">
                            <label for="email">Recomendaciones</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><span class="fas fa-notes-medical"></span></span>
                                {{ form.recomendaciones(class="form-control", value = concursoActual.recomendaciones) }}
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="row mb-5 mb-lg-5">
                    <div class="col-lg-4 col-sm-6">
                    </div>
                    <div class="col-lg-4 col-sm-6 justify-content-center d-flex">
                        <button type="submit" name="addConc" class="btn btn-primary">Actualizar</button>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                    </div>
                </div>
            </div>
        </div>

    </form>



</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}